REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=change_me

REDIS_CONTAINER_NAME=redis-server
REDIS_IMAGE=redis:7

EUREKA_USERNAME=eureka
EUREKA_PASSWORD=change_me
EUREKA_PEER1_PORT=8761
EUREKA_PEER2_PORT=8762
EUREKA_PEER3_PORT=8763
HAPROXY_HTTP_PORT=8088
HAPROXY_EUREKA_PORT=18760
HAPROXY_STATS_PORT=18404

JWT_SECRET=change_me_min_32_chars
INTERNAL_SECRET=change_me

MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=hr_db
HR_DB_USERNAME=root
HR_DB_PASSWORD=change_me

POSTGRES_DB=auth_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

AUTH_DB_URL=jdbc:postgresql://auth-postgres:5432/auth_service
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=change_me

LOGIN_MAX_FAILURES=5
LOGIN_LOCK_MINUTES=30
PASSWORD_EXPIRY_DAYS=90
